<div id="carousel-example-generic" class="carousel slide carousel-width" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      {% assign slide_count = 0 %}
      {% for slide in site.data.carousel %}
        {% if slide_count == 0 %}
          <li data-target="#carousel-example-generic" data-slide-to="{{ slide_count }}" class="active"></li>
        {% else %}
          <li data-target="#carousel-example-generic" data-slide-to="{{ slide_count }}"></li>
        {% endif %}
        {% assign slide_count = slide_count | plus: 1 %}
      {% endfor %}
    </ol>
   
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      {% assign slide_count = 0 %}
      {% for slide in site.data.carousel %}
        {% if slide_count == 0 %}
          <div class="item active">
        {% else %}
          <div class="item">
        {% endif %}
          <a href="{{ '/gallery' | absolute_url }}">
          <img src="{{ '/img/' | absolute_url }}{{ slide.image }}" alt="{{ slide.text }}">
            <div class="carousel-caption">
              <h3>{{ slide.text }}</h3>
            </div>
          </a>
        </div>
        {% assign slide_count = slide_count | plus: 1 %}
      {% endfor %}
    </div>
   
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div> <!-- Carousel -->
